@media (max-width: 960px){
    #logoSenai{
        display: none;
    }    
    main h1,h2,p{
        padding: 20px;
    }
}
@media (max-width: 750px){
    header img{
        width: 150px;
    }
    main{
        padding: 0;
    }
    main h2{
        text-align: center;
        background-color: #468C7F;
        color: #102B30;
    }
    nav a{
        padding: 2px;
        font-size: 0.6em;
    }
}
@media (max-width: 555px){
    header h1{
        width: 100%;
        font-size: 2em;
    }
    nav a{
       
    }
}
@media (max-width:450px){
    header img{
        width: 100px;
    }
    header h1{
        font-size: 1.5em;
        padding: 0 5px;
    }
    nav :first-child{
        display: none;
    }
}